build:cache:
  # If you only need compose in a specific step definitely put this
  # only in that step so it's not executed unnecessarily
  before_script:
    - apk add python3.5 py3-pip && pip install docker-compose
  services:
    - docker:dind
  image: docker/compose:latest
  script:
    - cd ./cache/
    - docker-compose down
    - docker-compose build
    - docker-compose up

build:test:
  image: node:latest
  script:
    - npm install
    - npm run test
