build:cache:
  before_script:
    # apk add --no-cache py3-setuptools
    - apk add --update py-pip && pip install docker-compose
  services:
    - docker:dind
  image: docker:latest
  script:
    - cd ./cache/
    - docker-compose down
    - docker-compose build
    - docker-compose up

build:test:
  image: node:latest
  script:
    - npm install
    - npm run test
